<h1>Add a new Artist</h1>
<hr>
<form action="/home/artists">
  <label for="artistName">Get started by adding your first CD</label>
  <input id="artistName" type="text" name="artistName">
  <button type="submit" class="btn btn-primary">Add to artist list</button>
</form>
