<h1>Assign Cd to $artist.getName()</h1>
<hr>
<form action="/home/artists/$artist.getId()">
  <label for="assignCd">Choose Cd</label>
  <input id="assignCd" type="text" name="assignCd">
  <button type="submit" class="btn btn-primary">Add to collection</button>
</form>
