<h1>CD Collection</h1>

<a href="home/cds">View Cds</a>
<a href="home/artists">View Artists</a>
<a href="home/addCd" class="btn btn-primary">Add Cd</a>
<a href="home/addArtist" class="btn btn-primary">Add Artist</a>
