<h1>CD Collection</h1>
<hr>
<form action="/home/cds">
  <label for="cdName">Get started by adding your first CD</label>
  <input id="cdName" type="text" name="cdName">
  <button type="submit" class="btn btn-primary">Add to collection</button>
</form>
